{{#if template}}
<template>
 <div class="app-container">
    {{ properCase name }}
  </div>
</template>
{{/if}}

{{#if script}}
<script>
export default {
  name: '{{ properCase name }}',
  components: {
  },
  props: {
  },
  data: () => ({
  }),
  computed: {},
  watch: {},
  created() {},
  mounted() {
    
  }, 
  methods: {
    
  },

  beforeCreate() {
    document.querySelector("body,html").setAttribute("style", "background-color:#E8E8F4;")
  },

  beforeDestroy() {
    document.querySelector("body,html").removeAttribute("style")
  },
};
</script>
{{/if}}

{{#if style}}
<style lang="less" scoped>
.app-container{
  padding: 0;
}
 
</style>
{{/if}}
 