.cls::after {
  clear: both;
  content: "";
  display: block;
}
.pageTitle {
  background-color: white;
  min-height: 30px;
  position: relative;
  margin-left: 12px;
  padding: 34px 30px 12px  36px;
  margin-top: 12px;
}
.leftTitle {
  left: 0px;
  width: 100%;
  font-size: 22px;
  height: 46px;
  position: relative;
}
.rightBtns {
  top: 0px;
  right: 0px;
  width: 60%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}
.searchBox {
  left: 0px;
  width: 100%;
  font-size: 22px;
  min-height: 40px;
  position: relative;
  margin-top: 34px;
}
