.cls::after{
  clear: both;
  content: "";
  display: block;
}
.pageTitle{
  // width: 100%;
  background-color: white;
  min-height: 30px;
  position: relative;
  margin-left: 12px;
  padding: 34px 30px 12px  36px;
  margin-top: 12px;
}

.leftTitle {
  left: 0px;
  // border:1px red solid;
  width: 100%;
  font-size: 22px;
  height: 46px;
  position: relative;
}
.rightBtns{
  top: 0px;
  right: 0px;
  // border:1px red solid;
  width: 60%;
  // height: 46px;
  // display: inline-block;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}
.searchBox{
  left: 0px;
  // border:1px red solid;
  width: 100%;
  font-size: 22px;
  min-height: 40px;
  position: relative;
  margin-top: 34px;
}
// .el-input__inner{
//   background-color: #E8E8F4;
// }
// .el-date-editor .el-range-input{
//   background-color: #E8E8F4;

// }